$container-width: 525px;
$container-height: 795px;


$skin-color: #ffe1c4;
$default-eye-angle: 20deg;
$default-eye-pupil-width: 17px;
$default-eye-pupil-height: 17px;

$head-width: 490px;
$head-height: 500px;
$head-top-position: 65px;
// $head-bottom-position: 230px;

$hat-height: 198px;
$hat-width: 490px;
$hat-bottom-width: 500px;
$hat-bottom-container-height: 97px;

// $hat-bottom-radius: 1600px;
$hat-bottom-color: #e30000;
$hat-pompom-color: #e30000;
$hat-bottom-inner-radius: 800px;
$hat-bottom-height: 55px;
$hat-bottom-outer-radius: $hat-bottom-inner-radius + $hat-bottom-height;


$jacket-color: #7c4e32;
$jacket-collar-color: #e30000;


// $face-size:
.stan {
  position: relative;
  background-color: gold;
  width: $container-width;
  height: $container-height;
  &__head {
    position: absolute;
    top: $head-top-position;
    left: ($container-width - $head-width) / 2;
    background-color: $skin-color;
    width: $head-width;
    height: $head-height;
    border-radius: 50%;
    // background: linear-gradient(to bottom, #3652a3 0, #3652a3 198px, $skin-color 198px, $skin-color);
  }

  &__legs {
    position: absolute;
    width: 322px;
    height: 60px;
    background-color: #000066;
    left: 50%;
    transform: translate(-50%);
    bottom: 12px;
  }
  &__foot {
    position: absolute;
    top: 70%;
    // background-color: black;
    background: linear-gradient(to bottom, black 0, black 30%, transparent 30%);
    width: 67%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%);
    &--left {
      left: 20%;
    }
    &--right {
    left: 80%;
    }
  }
  &__arm {
    position: absolute;
    top: 500px;
    left: 70px;
    width: 80px;
    height: 200px;
    background-color: $jacket-color;
    // background-color: red;
    border-radius: 50%;
    // border-radius: 50%;
    &--left {
      // top: 0;
      left: 380px;
      transform: rotate(-20deg) scaleX(-1);

    }
    transform: rotate(20deg);
  }
  &__arm-contour {
    position: absolute;
    width: 3px;
    height: 50px;
    background-color: black;
    left: 80%;
    top: 50%;
    transform: rotate(-10deg);
    // &--left {

    // }
  }

  &__jacket {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: $jacket-color;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
    border-radius: 50% / 10%;
  }
  &__jacket-buttons {
    position: absolute;
    // left: 50%;
    // top: 572px;
    top: 74%;
    right: 50%;
    // border-right: 5px solid black;
    // transform: translate(-90%);
    // background-color: red;
    width: 25px;
    height: 17%;
    // background-color: red;
    padding-top: 13px;
    & > div {
      background-color: black;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      margin-bottom: 39px;
      &:first-child {
        margin-bottom: 35px;
      }
    }

    // &:after {

    // }
  }
  &__jacket-zipper {
    position: absolute;
    left: 50%;
    top: 74.5%;
    transform: translate(-50%);
    background-color: black;
    width: 4px;
    height: 18%;
    // border-radius:
    &:after {
      position: absolute;
      content: '';
      display: block;
      // width: 50px;
      // height: 50px;
      border: 2px solid black;
      border-width: 4px 2px 4px 2px;
      border-color: transparent transparent black transparent;
      // background-color: pink;
      top: 0;
      transform: translate(0, -100%);

    }
  }
  &__jacket-collar {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: $jacket-collar-color;
    width: 300px;
    height: 100px;
    top: 62%;
    // border-radius: 40% / 50%;
    // border-top-left-radius: 20px 40px;
    // border-top-right-radius: 3px 4px;
    border-bottom-left-radius: 40% 100%;
    border-bottom-right-radius: 40% 100%;
    &:after {
      top: 73%;
      left: 50%;
      transform: translate(-50%);
      content: '';
      display: block;
      position: absolute;
      // bottom: 0;
      // left: 0;
      border: 10px solid black;
      border-width: 20px 10px 20px 10px;
      border-color: $jacket-color transparent transparent transparent;
    }
  }

  &__hand {
    position: absolute;
    // bottom: 0;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    width: 76px;
    height: 76px;
    background-color: $skin-color;
    border-radius: 50%;
  }

  &__thumb {
    position: absolute;
    width: 48%;
    height: 48%;
    background-color: $skin-color;
    border-radius: 50%;
    border: 3px solid #edaf72;
    top: 0;
    left: 70%;
  }

}

.hat-wrapper {
  position: absolute;
  top: 100px;
  left: 0;
  top: $head-top-position;
  left: ($container-width - $head-width) / 2;
}
.stan-hat {
  position: relative;
  background: linear-gradient(to bottom, #3652a3 0, #3652a3 $hat-height, transparent $hat-height, transparent);
  width:  $head-width;
  height: $head-height;
  border-radius: 50%;
  &__pompom-container {
    position: absolute;
    left: 50%;
    top: 0;
    width: 120px;
    height: 120px;
    // background-color: pink;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    & > div {
      position: absolute;
      background-color: $hat-pompom-color;
      width: 100%;
      height: 10px;
      top: 50%;
      border-radius: 4px;
      border-width: 1px 0;
      border-style: solid;
      border-image: linear-gradient(to left, transparent 0, transparent 30%, black 30%, black 70%, transparent 70%) 1 stretch;
      box-sizing: border-box;
    }
    @for $i from 1 through 8 {
      & > div:nth-child(#{$i}) {
        $angle: $i * 22.5 + 22.5;
        transform: translate(0, -50%) rotate(-#{$angle}deg);
        border-top: 1px solid black;
        box-shadow: 0 0 0 2px -10px black;
      }
    }
  }
  &__bottom {
    position: absolute;
    top: $hat-height - ($hat-bottom-container-height - $hat-bottom-height + 12px);
    left: 50%;
    background: radial-gradient(
      circle at 50% $hat-bottom-outer-radius,
    transparent,
    transparent $hat-bottom-inner-radius,
    $hat-bottom-color $hat-bottom-inner-radius,
    $hat-bottom-color $hat-bottom-outer-radius,
    transparent $hat-bottom-outer-radius,
    transparent 100%
    );
    height: $hat-bottom-container-height;
    width: $hat-bottom-width;
    transform: translate(-50%);
  }
}

.eye-default {
  position: absolute;
  top: 41%;
  left: 50%;
  background-color: white;
  width: 25.51%;
  height: 30%;
  border-radius: 50%;
  transform: translate(-100%) rotate($default-eye-angle);
  $c: &;
  &--left {
    transform: translate(0) rotate(-$default-eye-angle);
    #{$c}__pupil {
      top: 40%;
      left: calc(100% - 65% - #{$default-eye-pupil-width});
    }
  }

  &__pupil {
    background-color: black;
    width: $default-eye-pupil-width;
    height: $default-eye-pupil-height;
    border-radius: 50%;
    position: relative;
    left: 65%;
    top: 40%;
  }
}

.mouth-container {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 70px;
  height: 10px;
  // background-color: red;
  transform: translate(-50%) rotate(5deg);
  overflow: hidden;
}

.mouth-sad {
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid black;
  // margin-left: -70%;
  // left: 50%;
  border-radius: 50%;
  transform: translate(-50%);
}