extends ../layouts/default.pug

block vars
  - var title = 'Stan Marsh'
  - var style = "sp_stan"

block content
  .stan
    .stan__legs
      .stan__foot.stan__foot--left
      .stan__foot.stan__foot--right
    .stan__jacket
    .stan__jacket-zipper
    .stan__arm
      .stan__arm-contour
      .stan__hand
        .stan__thumb
    .stan__arm.stan__arm--left
      .stan__arm-contour
      .stan__hand
        .stan__thumb
    .stan__jacket-buttons
      - for(var i = 0; i < 3; i++)
          div
    .stan__jacket-collar
    .stan__hat-wrapper
      .stan__hat
        .stan__hat-bottom
          div
        .stan__hat-pompom-container
          - for(var i = 0; i < 8; i++)
            div
    .stan__head
      .stan__face
      .eye-default
        .eye-default__pupil
      .eye-default.eye-default--left
        .eye-default__pupil.eye-default__pupil--left
      .mouth-container
        .mouth-sad
