extends ../layouts/default.pug

block vars
  - var title = 'Stan Marsh'
  - var style = "sp_stan"
    //- .element-wrapper

block content
  .stan
    .stan__head
      .eye-default
        .eye-default__pupil
      .eye-default.eye-default--left
        .eye-default__pupil
      .mouth-sad
    .stan-hat
      .stan-hat__pompom


